In [1]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\gebruiker\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\gebruiker\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\gebruiker\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\gebruiker\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\gebruiker\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\gebruiker\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\gebruiker\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\gebruiker\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\gebruiker\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\gebruiker\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\gebruiker\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\gebruiker\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\gebruiker\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import zipfile

In [4]:
import zipfile

with zipfile.ZipFile('orders.csv.zip', 'r') as zip_ref:
    zip_ref.extractall()

In [5]:
import os
import pandas as pd
import zipfile
file_path = r"C:\Users\Gebruiker\orders.csv"

df = pd.read_csv(file_path)

In [6]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [7]:
missing_values = df.isnull().sum()
print('missing values count:')
print(missing_values)

missing values count:
Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [8]:
numeric_columns = df.select_dtypes(include=['int64']).columns
df[numeric_columns] = df[numeric_columns].fillna(0)

In [9]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [10]:
df = df.rename(columns={'Order Id': 'order_id','Order Date': 'order_date','Segment':'segment','Country':'country','City':'city','State':'state', 'Region':'region','Çategory':'çategory','Ship Mode': 'ship_mode','Postal Code':'postal_code','Sub Category':'sub_category','Product Id':'product_id',
   'cost price':'cost_price','List Price':'list_price','Discount Percent':'discount_percent'            
    })

In [11]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,Category,sub_category,product_id,cost_price,list_price,Quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [12]:
text_columns = df.select_dtypes(include=['object']).columns
for col in text_columns:
    df[col] = df[col].str.strip()

In [13]:
df['discount_amount'] = df['list_price'] * (1 - df['discount_percent'])
df['sale_price'] = df['list_price'] - df['discount_amount']
df['profit'] = df['sale_price'] - df['cost_price']

In [14]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,Category,sub_category,product_id,cost_price,list_price,Quantity,discount_percent,discount_amount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,-260,520,280
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,-1460,2190,1590
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,-40,50,40
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,-960,1920,1140
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,-80,100,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,-90,120,90
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,-270,360,290
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,-260,520,300
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,-60,90,60
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,-480,720,510

In [15]:
df_customer_order = df[['order_id', 'ship_mode', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'Category', 'sub_category']]

In [16]:
print(df.columns.tolist())  # This will show all column names in your DataFrame

['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'Category', 'sub_category', 'product_id', 'cost_price', 'list_price', 'Quantity', 'discount_percent', 'discount_amount', 'sale_price', 'profit']

In [17]:
df_customers_order = df[['order_date', 'order_id','product_id','cost_price','list_price','Quantity','discount_percent','discount_amount','sale_price','profit']]

In [18]:
print(f"df_customer_order shape: {df_customer_order.shape}")
print(f"df_customers_order shape: {df_customers_order.shape}")

df_customer_order shape: (9994, 10)
df_customers_order shape: (9994, 10)

In [19]:
df_customer_order

,order_id,ship_mode,segment,country,city,state,postal_code,region,Category,sub_category
0,1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases
1,2,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs
2,3,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels
3,4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables
4,5,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage
...,...,...,...,...,...,...,...,...,...,...
9989,9990,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings
9990,9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings
9991,9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones
9992,9993,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper
9993,9994,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances

In [20]:
df_customers_order

,order_date,order_id,product_id,cost_price,list_price,Quantity,discount_percent,discount_amount,sale_price,profit
0,2023-03-01,1,FUR-BO-10001798,240,260,2,2,-260,520,280
1,2023-08-15,2,FUR-CH-10000454,600,730,3,3,-1460,2190,1590
2,2023-01-10,3,OFF-LA-10000240,10,10,2,5,-40,50,40
3,2022-06-18,4,FUR-TA-10000577,780,960,5,2,-960,1920,1140
4,2022-07-13,5,OFF-ST-10000760,20,20,2,5,-80,100,80
...,...,...,...,...,...,...,...,...,...,...
9989,2023-02-18,9990,FUR-FU-10001889,30,30,3,4,-90,120,90
9990,2023-03-17,9991,FUR-FU-10000747,70,90,2,4,-270,360,290
9991,2022-08-07,9992,TEC-PH-10003645,220,260,2,2,-260,520,300
9992,2022-11-19,9993,OFF-PA-10004041,30,30,4,3,-60,90,60
9993,2022-07-17,9994,OFF-AP-10002684,210,240,2,3,-480,720,510

In [21]:
from sqlalchemy import create_engine
import pymysql

# Set up MySQL connection using SQLAlchemy (replace with your actual connection details)
engine = create_engine('mysql+pymysql://root:test@localhost:3306/retail_orders')

# Your other code here...

# Insert data into the customer_order table
df_customer_order.to_sql('customer_order', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'customer_order.PRIMARY'")
[SQL: INSERT INTO customer_order (order_id, ship_mode, segment, country, city, state, postal_code, region, `Category`, sub_category) VALUES (%(order_id)s, %(ship_mode)s, %(segment)s, %(country)s, %(city)s, %(state)s, %(postal_code)s, %(region)s, %(Category)s, %(sub_category)s)]
[parameters: [{'order_id': 1, 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'Category': 'Furniture', 'sub_category': 'Bookcases'}, {'order_id': 2, 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'Category': 'Furniture', 'sub_category': 'Chairs'}, {'order_id': 3, 'ship_mode': 'Second Class', 'segment': 'Corporate', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90036, 'region': 'West', 'Category': 'Office Supplies', 'sub_category': 'Labels'}, {'order_id': 4, 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'Category': 'Furniture', 'sub_category': 'Tables'}, {'order_id': 5, 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'Category': 'Office Supplies', 'sub_category': 'Storage'}, {'order_id': 6, 'ship_mode': 'Not Available', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'Category': 'Furniture', 'sub_category': 'Furnishings'}, {'order_id': 7, 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'Category': 'Office Supplies', 'sub_category': 'Art'}, {'order_id': 8, 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'Category': 'Technology', 'sub_category': 'Phones'}  ... displaying 10 of 9994 total bound parameter sets ...  {'order_id': 9993, 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Costa Mesa', 'state': 'California', 'postal_code': 92627, 'region': 'West', 'Category': 'Office Supplies', 'sub_category': 'Paper'}, {'order_id': 9994, 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Westminster', 'state': 'California', 'postal_code': 92683, 'region': 'West', 'Category': 'Office Supplies', 'sub_category': 'Appliances'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
from sqlalchemy import create_engine
import pymysql

# Set up MySQL connection using SQLAlchemy (replace with your actual connection details)
engine = create_engine('mysql+pymysql://root:test@localhost:3306/retail_orders')

# Your other code here...

# Insert data into the customer_order table
df_customers_order.to_sql('customers_order', con=engine, if_exists='append', index=False)

In [ ]:
pip install streamlit

In [25]:
streamlit hello

SyntaxError: invalid syntax (2773187961.py, line 1)

In [27]:
streamlit --version

NameError: name 'streamlit' is not defined

In [29]:
!python main.py

Hello, World!

In [31]:
import streamlit as st

In [33]:
st.write("Retail order Analysis")

2024-12-20 22:24:35.855
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\Gebruiker\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [35]:
import streamlit as st

# Home Section
def home():
    st.title("Home Page")
    st.write("Welcome to the Streamlit App!")
    st.button("Go to Dashboard", on_click=dashboard)

# Dashboard Section
def dashboard():
    st.title("Dashboard")
    st.write("This is the Dashboard section.")
    st.metric(label="User Engagement", value="85%")
    st.line_chart([10, 20, 30, 40, 50])

# Main Function
if __name__ == "__main__":
    st.sidebar.title("Navigation")
    page = st.sidebar.radio("Go to", ["Home", "Dashboard"])

    if page == "Home":
        home()
    elif page == "Dashboard":
        dashboard()

2024-12-20 22:50:26.705 Session state does not function when running a script without `streamlit run`

In [39]:
import streamlit as st
import mysql.connector

# Function to fetch data from MySQL table based on the selected question
def get_result(question):
    try:
        # Connect to MySQL database
        conn = mysql.connector.connect(
            host="3306",
            user="root",
            password="test",
            database="retail_orders"
        )
        cursor = conn.cursor(dictionary=True)

        # Query to fetch result based on question
        query = f"SELECT * FROM your_table_name WHERE question = '{question}'"
        cursor.execute(query)
        result = cursor.fetchone()
        conn.close()
        
        return result

    except mysql.connector.Error as e:
        st.error(f"Error: {e}")
        return None

# Streamlit App
def main():
    st.title("Question & Answer App")

    # List of 20 questions
    questions = [
        "Find all orders with their corresponding shipping mode and region?",
        "List all products with their cost price, sale price, and profit for each order?",
        "Find the total profit generated for each region?",
        "Identify the top 3 regions with the highest number of orders?",
        "Calculate the total revenue generated for each category?",
        "Find the top 5 products with the highest profit margin (profit/cost price)?",
        "Determine the average discount percentage given for each sub-category?",
        "Find all orders shipped via a specific mode (e.g., 'Express Shipping') and their corresponding profits?",
        "Identify the segment with the highest total revenue?",
        "List all products sold in a specific region (e.g., 'West') along with their sale prices and discounts?",
        "Find top 10 highest revenue generating products?",
        "Find the top 5 cities with the highest profit margins?",
        "Calculate the total discount given for each category?",
        "Find the average sale price per product category?",
        "Find the region with the highest average sale price?",
        "Find the total profit per category?",
        "Identify the top 3 segments with the highest quantity of orders?",
        "Determine the average discount percentage given per region?",
        "Find the product category with the highest total profit?",
        "Calculate the total revenue generated per year?"
    ]

    # Dropdown for selecting a question
    selected_question = st.selectbox("Enter your question:", questions)

    # Display result based on selected question
    if st.button("Get Result"):
        result = get_result(selected_question)
        if result:
            st.write("Result:", result)
        else:
            st.write("No results found for the selected question.")

if __name__ == "__main__":
    main()

In [41]:
import streamlit as st
import mysql.connector

# Function to fetch data from MySQL tables based on the selected question
def get_result(question):
    try:
        # Connect to MySQL database
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="test",
            database="retail_orders"
        )
        cursor = conn.cursor(dictionary=True)

        # Query to fetch result based on question
        query = f"""
            SELECT * FROM customer_order
            JOIN customers_order ON customer_order.order_id = customers_order.order_id
            WHERE customers_order.question = '{question}'
        """
        cursor.execute(query)
        result = cursor.fetchall()
        conn.close()
        
        return result

    except mysql.connector.Error as e:
        st.error(f"Error: {e}")
        return None

# Streamlit App
def main():
    st.title("Question & Results")

    # List of 20 questions
    questions = [
        "Find all orders with their corresponding shipping mode and region?",
        "List all products with their cost price, sale price, and profit for each order?",
        "Find the total profit generated for each region?",
        "Identify the top 3 regions with the highest number of orders?",
        "Calculate the total revenue generated for each category?",
        "Find the top 5 products with the highest profit margin (profit/cost price)?",
        "Determine the average discount percentage given for each sub-category?",
        "Find all orders shipped via a specific mode (e.g., 'Express Shipping') and their corresponding profits?",
        "Identify the segment with the highest total revenue?",
        "List all products sold in a specific region (e.g., 'West') along with their sale prices and discounts?",
        "Find top 10 highest revenue generating products?",
        "Find the top 5 cities with the highest profit margins?",
        "Calculate the total discount given for each category?",
        "Find the average sale price per product category?",
        "Find the region with the highest average sale price?",
        "Find the total profit per category?",
        "Identify the top 3 segments with the highest quantity of orders?",
        "Determine the average discount percentage given per region?",
        "Find the product category with the highest total profit?",
        "Calculate the total revenue generated per year?"
    ]

    # Dropdown for selecting a question
    selected_question = st.selectbox("Enter your question:", questions)

    # Display result based on selected question
    if st.button("Get Result"):
        result = get_result(selected_question)
        if result:
            st.table(result)
        else:
            st.write("No results found for the selected question.")

if __name__ == "__main__":
    main()

In [1]:
import streamlit as st
import mysql.connector

# Function to fetch data from MySQL tables based on the selected question
def get_result(question):
    try:
        # Connect to MySQL database
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="test",
            database="retail_orders"
        )
        cursor = conn.cursor(dictionary=True)

        # Define the query based on the selected question
        query = None

        if question == "Find all orders with their corresponding shipping mode and region?":
            query = """
                SELECT c.order_id, c.ship_mode, c.region
                FROM customer_order AS c
            """

        elif question == "List all products with their cost price, sale price, and profit for each order?":
            query = """
                SELECT co.order_id, co.product_id, co.cost_price, co.sale_price, co.profit
                FROM customers_order AS co
            """

        elif question == "Find the total profit generated for each region?":
            query = """
                SELECT c.region, SUM(co.profit) AS total_profit
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.region
            """

        elif question == "Identify the top 3 regions with the highest number of orders?":
            query = """
                SELECT c.region, COUNT(c.order_id) AS order_count
                FROM customer_order AS c
                GROUP BY c.region
                ORDER BY order_count DESC
                LIMIT 3
            """

        elif question == "Calculate the total revenue generated for each category?":
            query = """
                SELECT c.category, SUM(co.sale_price) AS total_revenue
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.category
            """

        elif question == "Find the top 5 products with the highest profit margin (profit/cost price)?":
            query = """
                SELECT co.product_id, (co.profit / co.cost_price) AS profit_margin
                FROM customers_order AS co
                WHERE co.cost_price > 0
                ORDER BY profit_margin DESC
                LIMIT 5
            """

        elif question == "Determine the average discount percentage given for each sub-category?":
            query = """
                SELECT c.sub_category, AVG(co.discount_percent) AS avg_discount
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.sub_category
            """

        elif question == "Find all orders shipped via a specific mode (e.g., 'Express Shipping') and their corresponding profits?":
            query = """
                SELECT c.order_id, c.ship_mode, co.profit
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                WHERE c.ship_mode = 'Express Shipping'
            """

        elif question == "Identify the segment with the highest total revenue?":
            query = """
                SELECT c.segment, SUM(co.sale_price) AS total_revenue
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.segment
                ORDER BY total_revenue DESC
                LIMIT 1
            """

        elif question == "List all products sold in a specific region (e.g., 'West') along with their sale prices and discounts?":
            query = """
                SELECT co.product_id, co.sale_price, co.discount_amount
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                WHERE c.region = 'West'
            """

        elif question == "Find top 10 highest revenue generating products?":
            query = """
                SELECT co.product_id, SUM(co.sale_price) AS total_revenue
                FROM customers_order AS co
                GROUP BY co.product_id
                ORDER BY total_revenue DESC
                LIMIT 10
            """

        elif question == "Find the top 5 cities with the highest profit margins?":
            query = """
                SELECT c.city, SUM(co.profit) AS total_profit
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.city
                ORDER BY total_profit DESC
                LIMIT 5
            """

        elif question == "Calculate the total discount given for each category?":
            query = """
                SELECT c.category, SUM(co.discount_amount) AS total_discount
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.category
            """

        elif question == "Find the average sale price per product category?":
            query = """
                SELECT c.category, AVG(co.sale_price) AS avg_sale_price
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.category
            """

        elif question == "Find the region with the highest average sale price?":
            query = """
                SELECT c.region, AVG(co.sale_price) AS avg_sale_price
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.region
                ORDER BY avg_sale_price DESC
                LIMIT 1
            """

        elif question == "Find the total profit per category?":
            query = """
                SELECT c.category, SUM(co.profit) AS total_profit
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.category
            """

        elif question == "Identify the top 3 segments with the highest quantity of orders?":
            query = """
                SELECT c.segment, COUNT(c.order_id) AS order_count
                FROM customer_order AS c
                GROUP BY c.segment
                ORDER BY order_count DESC
                LIMIT 3
            """

        elif question == "Determine the average discount percentage given per region?":
            query = """
                SELECT c.region, AVG(co.discount_percent) AS avg_discount
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.region
            """

        elif question == "Find the product category with the highest total profit?":
            query = """
                SELECT c.category, SUM(co.profit) AS total_profit
                FROM customer_order AS c
                JOIN customers_order AS co ON c.order_id = co.order_id
                GROUP BY c.category
                ORDER BY total_profit DESC
                LIMIT 1
            """

        elif question == "Calculate the total revenue generated per year?":
            query = """
                SELECT YEAR(co.order_date) AS year, SUM(co.sale_price) AS total_revenue
                FROM customers_order AS co
                GROUP BY year
                ORDER BY year
            """

        else:
            st.error("Query for this question is not defined yet.")
            return None

        # Execute the query
        cursor.execute(query)
        result = cursor.fetchall()
        conn.close()

        return result

    except mysql.connector.Error as e:
        st.error(f"Error: {e}")
        return None

# Streamlit App
def main():
    st.title("Question & Answer App")

    # List of 20 questions
    questions = [
        "Find all orders with their corresponding shipping mode and region?",
        "List all products with their cost price, sale price, and profit for each order?",
        "Find the total profit generated for each region?",
        "Identify the top 3 regions with the highest number of orders?",
        "Calculate the total revenue generated for each category?",
        "Find the top 5 products with the highest profit margin (profit/cost price)?",
        "Determine the average discount percentage given for each sub-category?",
        "Find all orders shipped via a specific mode (e.g., 'Express Shipping') and their corresponding profits?",
        "Identify the segment with the highest total revenue?",
        "List all products sold in a specific region (e.g., 'West') along with their sale prices and discounts?",
        "Find top 10 highest revenue generating products?",
        "Find the top 5 cities with the highest profit margins?",
        "Calculate the total discount given for each category?",
        "Find the average sale price per product category?",
        "Find the region with the highest average sale price?",
        "Find the total profit per category?",
        "Identify the top 3 segments with the highest quantity?",
        "Determine the average discount percentage given per region?",
        "Find the product category with the highest total profit?",
        "Calculate the total revenue generated per year?"
        ]


    # Dropdown for selecting a question
    selected_question = st.selectbox("Enter your question:", questions)

    # Display result based on selected question
    if st.button("Get Result"):
        result = get_result(selected_question)
        if result:
            st.table(result)
        else:
            st.write("No results found for the selected question.")

if __name__ == "__main__":
    main()

import streamlit as st
import pandas as pd
from sqlalchemy import create_engine

# Function to create a database connection
def create_connection():
    try:
        # Update these credentials as per your database
        engine = create_engine(
            "mysql+pymysql://root:test@localhost:3306/retail_orders"
        )
        return engine
    except Exception as e:
        st.error(f"Error connecting to the database: {e}")
        return None

# Define the queries
def get_total_sales_by_region(engine):
    query = """
        SELECT c.region, SUM(co.sale_price) AS total_sales
        FROM customer_order AS c
        JOIN customers_order AS co ON c.order_id = co.order_id
        GROUP BY c.region;
    """
    return pd.read_sql(query, engine)

def get_most_profitable_category(engine):
    query = """
        SELECT c.category, SUM(co.profit) AS total_profit
        FROM customer_order AS c
        JOIN customers_order AS co ON c.order_id = co.order_id
        GROUP BY c.category
        ORDER BY total_profit DESC
        LIMIT 1;
    """
    return pd.read_sql(query, engine)

def get_average_discount(engine):
    query = """
        SELECT AVG(co.discount_percent) AS average_discount
        FROM customers_order AS co;
    """
    return pd.read_sql(query, engine)

# Streamlit App
st.title("Retail Orders Dashboard")
st.write("This app connects to the `retail_orders` database and answers specific business questions.")

# Connect to the database
engine = create_connection()

if engine:
    # Question 1: Total Sales by Region
    st.subheader("1. Total Sales by Region")
    total_sales = get_total_sales_by_region(engine)
    st.dataframe(total_sales)

    # Question 2: Most Profitable Product Category
    st.subheader("2. Most Profitable Product Category")
    most_profitable = get_most_profitable_category(engine)
    st.dataframe(most_profitable)

    # Question 3: Average Discount Applied
    st.subheader("3. Average Discount Applied Across All Orders")
    average_discount = get_average_discount(engine)
    st.write(f"Average Discount: {average_discount['average_discount'].iloc[0]:.2f}%")
else:
    st.error("Failed to connect to the database.")

2024-12-21 17:43:36.039
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\Gebruiker\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2024-12-21 17:43:36.046 Session state does not function when running a script without `streamlit run`